---
import Layout from '../../layouts/Layout.astro';
import ejes from '../../data/remolques-de-1-eje.json';
---
<Layout>
	<section class="bg-gray-50 py-12 px-6 md:px-12">
		<div class="container mx-auto text-center">
			<h2 class="text-md md:text-xl lg:text-3xl font-bold text-gray-800 mb-4">
				Remolques <br /> De 01 Eje
			</h2>
			<p class="text-gray-600 text-sm md:text-1xl mb-10 max-w-4xl mx-auto">
				Encuentra el remolque perfecto diseñado específicamente para cada sector y necesidad.
			</p>
			<div class="flex justify-center mb-10">
				<a href="/#categoria" class="flex items-center gap-2 text-primary font-semibold text-lg hover:text-[#7dc35a] transition-colors">
					<i class="fa-solid fa-chevron-left text-3xl"></i>
					Volver atrás
				</a>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
				{ejes.map((eje) => (
					<div class="rounded-lg border border-[#7dc35a] shadow-sm hover:shadow-md transition-shadow duration-150 flex flex-col">
						<div class="w-full flex items-center justify-center overflow-hidden">
							<img src={eje.image} alt={eje.title} class="w-full h-full object-contain rounded-t-lg" />
						</div>
						<div class="p-6 text-center">
							<h3 class="text-xl font-bold text-gray-800 mb-2">
								{eje.title}
							</h3>
							<p class="text-gray-600 text-sm mb-5">
								{eje.description}
							</p>
							<a href={`https://wa.me/+51995374449?text=Hola%20Remolques%20ATO%20%26%20PE%C3%91A%2C%20Estoy%20interesado%20en%20adquirir%20"${encodeURIComponent(eje.title)}"`} target="_blank" rel="noopener noreferrer" class="flex items-center justify-center gap-2 bg-black text-white font-semibold text-sm py-2 px-4 rounded-lg shadow hover:scale-105 transition">
								<i class="fa-brands fa-whatsapp text-xl"></i>
								Consultar ahora
							</a>
						</div>
					</div>
				))}
			</div>            
		</div>
	</section>
	<a href="/#categoria" class="fixed bottom-12 left-5 bg-[#7dc35a] text-black p-3 rounded-full shadow-lg flex items-center justify-center transition-all transform hover:scale-110 hover:translate-y-[-5px] hover:shadow-2xl z-50">
		<i class="fa-solid fa-chevron-left text-xl mr-2"></i>
		Volver atrás
	</a>
</Layout>
