---
import categories from "../data/categories.json";
---
<section id="categoria" class="bg-gray-50 py-12 px-6 md:px-12">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold text-gray-800 mb-8">
      Nuestras <br /> Categorías de Remolques
    </h2>

    <p
      class="text-gray-600 text-lg sm:text-xl md:text-1xl mb-10 max-w-4xl mx-auto"
    >
      Encuentra el remolque perfecto diseñado específicamente para cada sector y
      necesidad. Ofrecemos soluciones personalizadas para usos agrícolas,
      industriales, recreativos y más.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {categories.map((category) => (
        <div class="bg-white rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 flex flex-col overflow-hidden">
          <!-- Contenedor de la imagen -->
          <div class="w-full h-80 bg-white flex items-center justify-center relative group">
            <img
              src={category.image}
              alt={category.title}
              class="w-80 h-80 object-cover rounded-t-lg transition-transform duration-300 group-hover:scale-110"
            />
            <!-- Efecto hover con texto opcional -->
            <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-70 transition-all duration-300 flex items-center justify-center">
              <h3 class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                {category.title}
              </h3>
            </div>
          </div>
    
          <!-- Contenido descriptivo -->
          <div class="p-6 flex flex-col gap-4">
            <h3 class="text-2xl font-bold text-gray-800 text-center">
              <a
                href={category.link}
                class="text-gray-800 hover:text-primary transition-colors"
              >
                {category.title}
              </a>
            </h3>
    
            <p class="text-gray-600 text-sm text-center">
              {category.description}
            </p>
          </div>
    
          <!-- Botón de acción -->
          <div class="mt-auto p-4">
            <a
              href={category.link}
              class="block text-center bg-gradient-to-br from-primary to-secondary text-white font-semibold py-2 px-4 rounded-lg shadow hover:translate-y-[-2px] transition-transform duration-300"
            >
              <i class="fas fa-arrow-circle-right"></i>
              Ver más
            </a>
          </div>
        </div>
      ))}
    </div>    
  </div>
</section>